#box {
    /* border: 1px solid black; */
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */

}

#first_div {
    margin: auto;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    width: 30%;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 15px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;



}

#image {
    width: 90%;
    height: 354px;
}

#head {
    font-weight: bold;
}

#first_div button {
    font-size: 20px;
    color: blue;
    border: 1px solid blue;
  
    border-radius: 5px;
    cursor: pointer;
}

#info {
    font-weight: 500;
}

#main {


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}

#box div img {

    width: 100%;
}

#main div {

border: 1px solid silver;

}

#main h4 {
    text-align: center;
  
    

}
#box h3{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}
#main h4{

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;
        text-align: center;
     }


#main p {
    display: inline-block;
    margin-right: 3px;
}

#wish {
    position: relative;
}

#delet {
    position: absolute;
    top: 6px;
    right: 5px;
    cursor: pointer;
}

#move {
    font-weight: 500;
    color: #ff3e6c;
 /* position:absolute;
bottom:1px; 
/* right:33% */ 
border: none;
cursor: pointer;
padding:5px;

}
 #wish #movediv{
border:1px solid silver

}

